.container{
   background-image:linear-gradient(rgb(240, 68, 97),orange);
   height: 100vh;
   
    /* background-color: red; */
}

.inputElem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.inputElem input{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input::placeholder{
    font-size: 16px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profiles ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 70%;
    margin:  auto 143px;
    margin-top: 10px;
    place-content: center;
   
}
.profile-card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    /* display: flex;
    justify-items: center;
    align-items: center; */
   
    
    
}

.profile-card li{
    display: flex;
    gap:12px;
    line-height: 1.5;
    
}